
*
{
	margin:0;
	padding:0;
}

h1
{
        color: white;
}

#title
{
margin-bottom: 1em;
}

#content
{
text-align: center;
}

body
{
	font-family: trebuchet ms,modern;
	font-size: 15px;
	background-image: url('/media/images/reiki1.jpg');
  	color: FFFFFF;  
}

#navigation
{
	position: relative;
	background-image: url("/media/images/sidebar_middle.png");
	height: 350px;
	margin-top: 50px;
}

#navigation li
{
	list-style-type: none;
	font-size: 16px;
	margin-top: 1.5em;
	text-align: center;
}

#navigation li a
{
	text-decoration: underline;
	color: #fff;
}

#navigation li a:hover
{
	text-decoration: underline;
}

#header
{
	height: 411x;
	text-align: center;
	margin-top: 50px;
	position: relative;
}

.announce
{
	color: #F93;
	font-size: 1.6em;
	text-align: center;
}

p.natural_health_link
{
	margin-bottom: 1em;
	border: 2px solid white;
}

p.natural_health_link a
{
	text-decoration: none;
}

#home_page, .text
{
	font-size: 1.4em;
	text-align: center;
	font-weight: bold;
	color: white;
}

#home_page p
{
	margin-top: 1em;
}

a
{
	color: white;
}

.header_text
{
	color: black;
}

#blog
{
	font-size: .7em;
	margin-bottom: .5em;
}

#bottom_text
{
	margin-bottom: 1em;
}

#small_text
{
	color: white;
	text-align: center;
	font-size: .8em;
	font-weight: normal;
}

.faq, h3
{
margin-bottom: 1em;
text-align: center;
color: white;
}

#faq_question, h3
{
font-size: 1.2em;
text-decoration: underline;
font-weight: bold;
}


#header h1
{
top: 55px;
right: 10px;
position: absolute;
font:bold 32px Georgia;
color: blue;
}


h1 {
 font-size:                     21px;
    font-weight:                    bold;
 display:                           inline;
}

h2 {
 font-size:                     18px;
    font-weight:                    bold;
    text-decoration:            underline;
 display:                           inline;
}

.header h1
{
margin: auto;
text-align: center;
display: block;
width: 80%;
}

#frame
{
background-color: #fff;
position: relative;
}
#content
{
position: relative;
padding: 20px 80px;
width: 500px;
min-height: 600px;
}

#content div.section
{
margin-bottom: 1em;
}

#content p
{
margin-bottom: .5em;
}

#content dt
{
font-weight: bold;
}

#content dd
{
margin-left: 10px;
}

#resume p {
text-align: left;
margin-bottom: 1em;
}

#resume p.description
{
text-indent: 1em;
}

#resume .header p {
text-align: center;
margin: 0;
padding: 0;
}

#resume dd h2
{
font-size: 16px;
margin: 0px;
}

#resume dd
{
text-align: left;
margin-bottom: 1em;
}

#resume dt
{
text-align: left;
margin-top: 1em;
font-size: 20px;
font-weight: bold;
}

#resume li
{
text-align: left;
}

#services ul
{
list-style-type: none;
position: relative;
}
#services li
{
outline: 3px solid blue;
padding: .6em;
margin: 10px 0px;
position: relative;
clear: left;
}

#services
{
font-size: 1.2em;
}

img.product_image
{
float: left;
margin: 0px 10px 10px 0px;
}

div.clear_float
{
clear: both;
}

#intake
{
font-size: 1.2em;
}

#resume .misc, #resume .misc p
{
text-align: center;
}