<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}Healing Circle Massage{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% block css %}
    <link rel="stylesheet" type="text/css" href="/media/css/960.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/text.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/base.css" />
    <link rel="icon" type="image/gif" href="/media/images/favicon.gif" />
    {% endblock %}
    {% block section_css %}{% endblock %}
    {% block page_css %}{% endblock %}
  </head>
  <body>
    <div class="container_16">
	  
	  <div class="grid_4" id="navigation">
		{% block navigation %}
	    <ul>
		  <li><a href="/">Home</a></li>
		  <li><a href="/services/">Services</a></li>
		  <li><a href="/resume/">Resume</a></li>
		  <li><a href="/faq/">FAQ</a></li>
		  <li><a href="/news/">Featured Expert</a></li>
		  <li><a href="/writings/">Articles</a></li>
		  <li><a href="/events/">Events</a></li>
		  <li><a href="/appointments/">Appointments</a></li>
		  <li><a href="/testimonials/">Testimonials</a></li>
		  <li><a href="/instructional_dvd/">Instructional DVD</a></li>
	    </ul>
		{% endblock %}
	  </div>

	  <div id="header">
		{% block header %}
		<div id="banner" class="grid_4 prefix_3">
	      <img alt="Healing Circle Massage" src="/media/images/yinyang.gif" />
		</div>

		<div class="grid_12">
	      <p class="announce">Coming in Spring 2009: Instructional Massage DVD</p>
	      <p class="announce">Learn to Rub People the Right Way &reg;</p>
		</div>
		{% endblock %}
	  </div>

	  <div id="content" class="grid_12">
	    {% block content %}
	    {% endblock %}
	  </div>

	  <div class="clear">
		&nbsp;
	  </div>
	  
	  <div class="text grid_12 prefix_4">
		<p><img alt="Accepts Visa and MasterCard" src="/media/images/visa_mastercard.jpg"/></p>
		<div id="bottom_text">
		  <h1>Please call us today for an appointment</h1><br />
		  <h1>(805) 680-1984</h1><br />
		  <h1>Healing Body, Mind and Spirit</h1>
		</div>
		<p><img alt="BodyWork" src="/media/images/bodyworklogo.gif" /><img alt="ANMA" src="/media/images/anma.gif" /></p>
		<p class="blog">Copyright 2009 Healing Circle Massage</p>
	  </div>

	</div>
	<script type="text/javascript">

	  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

	</script>

	<script type="text/javascript">

	  try {
	  var pageTracker = _gat._getTracker("UA-88241-8");
	  pageTracker._trackPageview();
	  } catch(err) {}

	</script>

  </body>
</html>
