<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load email_tags %}

<head>
  <title>{% block title %}Healing Circle Massage{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="keywords" content="massage,therapy,therapeutic,deep tissue,trigger point,sports,corporate,reiki,ear coning,ear candling,health,birth assistant,naturopath,alternative medicine,CAM,complimentary alternative medicine,santa barbara,goleta,acupressure,pathology,nutrition,therapist,natural health,doula,pain relief,lectures,workshops,classes,integrated medicine,traditional naturopath,ND,herbs,homeopathics,bach flower essences,consulting,montecito,california,centralcoast,education,dvd,book,body,mind,spirit,mind/body medicine,mind/body connection,PhD.,mind-body,PNI,psychosomatic therapy,meditation, positive thought,affirmations,natural medicine"/>
    <meta name="description" content="Heal your body, mind and spirit with medical and therapeutic massage therapist, Kathy Gruver" />
    <meta name="verify-v1" content="ev86N4AOG4aIZY4Cgui4lzNRz6jZdhakrJ1OK9GphTQ=" />
  {% block css %}
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/base.css" />
  <link rel="icon" type="image/gif" href="/site_media/images/favicon.gif" />
  {% endblock %}
  {% block section_css %}{% endblock %}
  {% block page_css %}{% endblock %}
  
  <script type="text/javascript" src="/site_media/scripts/jquery-1.2.3.min.js"></script>
  <script type="text/javascript" src="/site_media/scripts/base.js"></script>
  
</head>
<body>
  <div class="container_16">
    <div class="grid_4" id="navigation">
      {% block navigation %}
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="https://www.thegiftcardcafe.com/cart/index.php?storeID=1551" rel="external">Instant Gift Certificates</a></li>
	<li><a href="/services/">Massage Services</a></li>
	<li><a href="/books/">Books</a></li>
	<li><a href="/resume/">Resume</a></li>
	<li><a href="/speaking/">As a Speaker</a></li>
	<li><a href="/news/">As an Expert</a></li>
	<li><a href="/writings/">As a Writer</a></li>
	<li><a href="/appointments/">Appointments</a></li>
	<li><a href="/testimonials/">Massage Testimonials</a></li>
	<li><a href="/instructional_dvd/">Instructional DVD</a></li>
      </ul>
      {% endblock %}
<div id="sm_sticker">
<a href="http://www.indieexcellence.com/indie-results-2011.htm" target="_blank"><img src="http://www.indieexcellence.com/IEx_goldoval_finalist72s.png" width="160" height="75" border="0"></a>
</div>
      {% display_email_form %}      
    </div>
	  <div id="header">
		{% block header %}
		<div id="banner" class="grid_4 prefix_3">
	      <img alt="Healing Circle Massage" src="/site_media/images/yinyang.gif" />
		</div>

		<div class="grid_12"><a href="http://www.thealternativemedicinecabinet.com" rel="external">
	      <p class="announce">Now Available: The Alternative Medicine Cabinet:</p>
	      <p class="announce">A book of natural health tips</p>
		</a></div>
		{% endblock %}

	  </div>

	  <div id="content" class="grid_12">
	    {% block content %}
	    {% endblock %}
	  </div>



	  <div class="clear">
		&nbsp;
	  </div>


	  <div class="text grid_12 prefix_4">
&nbsp;
<p>Aired March 1st</p>
<embed height="275" width="350" flashvars="v=D8U37FH2502727" allowfullscreen="true" swliveconnect="true" salign="t" wmode="transparent" quality="high" bgcolor="#FFFFFF" name="videoPlayer2" id="videoPlayer2" style="" src="http://www.thebalancingact.com/BA_Video_Player_320.swf" type="application/x-shockwave-flash"/>     
		<p><img alt="Accepts Visa and MasterCard" src="/site_media/images/visa_mastercard.jpg"/></p>
		<div id="bottom_text">
		  <p>Please call us today for an appointment</p>
		  <p>(805) 680-1984</p>
		  <p>Healing Body, Mind and Spirit</p>
		</div>
		<p><img alt="BodyWork" src="/site_media/images/bodyworklogo.gif" /><img alt="ANMA" src="/site_media/images/anma.gif" /></p>
		<p class="blog">Copyright 2009 Healing Circle Massage</p>
	  </div>
	</div>
	<script type="text/javascript">
	  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript">
	  try {
	  var pageTracker = _gat._getTracker("UA-88241-8");
	  pageTracker._trackPageview();
	  } catch(err) {}
	</script>

  </body>
</html>
