{% extends "static_section.html" %}

{% block content %}

<div id="home_page">

  <h1 class="header_text">Welcome to the Healing Circle!</h1>

  <p class="natural_health_link"><a href="http://www.healingcirclenaturalhealth.com" rel="external">Click Here for Natural Health Consultations</a></p>
  <p class="natural_health_link"><a href="http://www.thealternativemedicinecabinet.com" rel="external">Learn More about Kathy's Book, The Alternative Medicine Cabinet</a></p>


{{hometext.text|linebreaks}}

  <h1 class="header_text">Follow Kathy</h1>
  
<p class="blog"><a href="http://www.linkedin.com/in/kathygruver" rel="external">http://www.linkedin.com/in/kathygruver</a></p>  
<p class="blog"><a href="http://www.twitter.com/klgruver" rel="external">http://www.twitter.com/klgruver</a></p>  
<p class="blog"><a href="http://www.healingcirclemassage.blogspot.com" rel="external">http://www.healingcirclemassage.blogspot.com</a></p>
<p class="blog"><a href="http://www.youtube.com/drkathygruver" rel="external">http://www.youtube.com/drkathygruver</a></p>
</div>
<iframe width="350" height="275" src="http://www.youtube.com/embed/2v4ZL0B3zHc" frameborder="0" allowfullscreen></iframe>
<p><a href="http://www.youtube.com/drkathygruver">Visit Kathy's YouTube Channel for more health tips from Kathy</a></p>

{% endblock %}
