{% extends "static_section.html" %}

{% block content %}

<div id="home_page">

  <h1 class="header_text">Welcome to the Healing Circle!</h1>

  <p class="natural_health_link"><a href="http://www.healingcirclenaturalhealth.com" rel="external">Click Here for Natural Health Consultations</a></p>
  <p class="natural_health_link"><a href="http://www.thealternativemedicinecabinet.com" rel="external">Learn More about Kathy's Book, The Alternative Medicine Cabinet</a></p>


{{hometext.text|linebreaks}}
<br /><br />
<a href="http://itravelconsultants.com/seminar-at-sea4/praise-works-journey-to-wellness-alaska-cruise.html" rel="external"><h1>Come Hear Dr. Gruver Speak</h1>
<img src="/site_media/images/ssbanner01.jpg" alt=" " width="650" /></a>
<br /><br />
<h1 class="header_text">Spirit of Entrepreneurship Award</h1>
<img src="/site_media/images/2012awardimage-sm.jpg" style="width:150px; float: left;" alt=" " />
<p style="float: left;width: 350px; margin-top: 30px; margin-left: 5px; text-align: justify;">Kathy was honored this year with the Spirit of Entrepreneurship Award in health and fitness by the Santa Barbara Chapter of the National Association of Women Business Owners. It was a true joy to be recognized by this organization and the community for all my hard work in building up my business and helping people heal.</p>
<img src="/site_media/images/awardimage.JPG" style="width: 150px; float: right;" alt=" " />

<div class="clear"> </div>
<br /><br />
<h1 class="header_text">Follow Kathy</h1>
  
<p class="blog"><a href="http://www.linkedin.com/in/kathygruver" rel="external">http://www.linkedin.com/in/kathygruver</a></p>  
<p class="blog"><a href="http://www.twitter.com/klgruver" rel="external">http://www.twitter.com/klgruver</a></p>  
<p class="blog"><a href="http://www.healingcirclemassage.blogspot.com" rel="external">http://www.healingcirclemassage.blogspot.com</a></p>
<p class="blog"><a href="http://www.youtube.com/drkathygruver" rel="external">http://www.youtube.com/drkathygruver</a></p>
</div>
<iframe width="350" height="275" src="http://www.youtube.com/embed/7gZ-zOJ1muQ" frameborder="0" allowfullscreen></iframe>
<p><a href="http://www.youtube.com/drkathygruver">Visit Kathy's YouTube Channel for more health tips from Kathy</a></p>

{% endblock %}
