{% extends "static_section.html" %}

<div class="grid_12">

  {% block header %}
  <div id="dvd_header" class="grid_4 prefix_2">
	<img src="/media/images/dvd_cover.png" alt=" " />
  </div>

  <div class="clear">
	&nbsp;
  </div>
  {% endblock %}

  {% block content %}


  <div id="dvd_info" class="grid_8 prefix_5">
	<h2>24.99 + Tax</h2>
	<p>Available in Time for Mother's Day!</p>
	<p>Preorder by April 16nd for Free Shipping and Handling</p>
	<p>To order by phone, please call (805)680-1984. Credit cards accepted over the phone.</p>
  </div>

  <div id="clear">
	&nbsp;
  </div>

  <div id="behind_the_scenes" class="grid_12 prefix_3">

	<h2>Behind The Scenes</h2>
	<img src="/media/images/shoot1.jpg" alt=" " />
	<img src="/media/images/shoot2.jpg" alt=" " class="odd_image" />
	<img src="/media/images/shoot3.jpg" alt=" " />
	<img src="/media/images/shoot4.jpg" alt=" " class="odd_image" />

  </div>

</div>

{% endblock %}
