{% extends "static_section.html" %}

{% block content %}

<div id="title">
  <h1>Articles Featuring Kathy</h1>
</div>

{% for news_item in news_items %}

<div class="event grid_5">

{% if not news_item.link %}
{% if not news_item.thumbnail_image %}
<p class="faq">{{news_item.name}}</p>
{% endif %}
{% endif %}

{% if news_item.link %}

{% if news_item.thumbnail_image %}
<a href="{{news_item.link}}" rel="external"> <img src="/media/{{news_item.thumbnail_image}}" alt="{{news_item.name}}" /></a>
{% endif %}

<p class="faq"><a href="{{news_item.link}}" rel="external">{{news_item.name}}</a></p>

{% endif %}

{% if news_item.image_1 %}
 <a href="/media/{{news_item.image_1}}"> <img src="/media/{{news_item.thumbnail_image}}" alt="{{news_item.name}}" /></a>
 <p class="faq"><a href="/media/{{news_item.image_1}}">{{news_item.name}}</a></p>
{% endif %}

<div class="faq">

{% if news_item.image_2 %}
(Pages 
<a href="/media/{{news_item.image_1}}">1</a>
<a href="/media/{{news_item.image_2}}"> | 2</a>

{% if news_item.image_3 %}
<a href="/media/{{news_item.image_3}}"> | 3</a>
{% endif %}

{% if news_item.image_4 %}
<a href="/media/{{news_item.image_1}}"> | 4</a>
{% endif %}
)
{% endif %}
</div>

</div>

{% endfor %}

<div id="clear">
&nbsp;
</div>

<div id="interviews" class="grid_6">

  <h1>Interviews Featuring Kathy</h1>

{% for interview in interviews %}

{% if not interview.link %}
<p class="faq">{{interview.name}}</p>
{% endif %}

{% if interview.link %}
<p class="faq"><a href="{{interview.link}}" rel="external">{{interview.name}}</a></p>
{% endif %}

{% endfor %}
</div>

{% endblock %}
