{% extends "base.html" %}
{% load markup %}

{% block content %}
<div id="resume_header">
<p><img src="/site_media/images/kathy_headshot_t.jpg" alt="Kathy"/></p>
<h1>Kathy L. Gruver, MS, LMT, RM, NHC</h1>
<p>Doctorate of Traditional Naturopathy</p>
<p>PO Box 3184</p>
<p>Santa Barbara, CA 93130</p>
<p>805-680-1984</p>
<p><a href="mailto:healingcirclemassage@hotmail.com">healingcirclemassage@hotmail.com</a></p>
</div>

<div id="resume" class="grid_12">

<h2>Training and Education</h2>
{{resume.training_and_education|markdown}}
<h2>Lecture, Write, and Guest Appearances</h2>
{{resume.professional|markdown}}
<h2>Employment</h2>
{{resume.employment|markdown}}
<h2>Personal Interests</h2>
{{resume.personal_interests|markdown}}

</div>
{% endblock %}
