{% extends "static_section.html" %}

{% block content %}
<div id="services">
  <div class="section">


<p class="text">Our Services:</p>

<p id="small_text">Featuring an alternative medicine library: over 1,000 categorized books and articles for you to browse or borrow.</p>

<p class="text">Personal injury and worker's comp accepted with prescription.</p>

{% for service in object_list %}


<div class="service">

{{service.name}}

{{service.description}}

{{service.price}}

</div>

{% endfor %}



{% endblock %}
