{% extends "static_section.html" %}

{% block content %}
<div id="services">
  <div class="section">


<h1>Our Services:</h1>

<p id="small_text">Featuring an alternative medicine library: over 1,000 categorized books and articles for you to browse or borrow.</p>

<p class="text">Personal injury and worker's comp accepted with prescription.</p>

{% for service in object_list %}

{% if service.image %}

<img src="/media/{{service.image}}" />

{% endif %}

<div class="service grid_11">

<p class="service_name">{{service.name}}</p>

<p class="service_description grid_6">{{service.description|safe}}</p>

<p class="service_price grid_4">{{service.price|safe}}</p>

</div>

<div class="clear">&nbsp;</div>


{% endfor %}



{% endblock %}
