{% extends "static_section.html" %}

{% block content %}
<div id="services">
  <div class="section">


<p class="text">Our Services:</p>

<p id="small_text">Featuring an alternative medicine library: over 1,000 categorized books and articles for you to browse or borrow.</p>

<p class="text">Personal injury and worker's comp accepted with prescription.</p>

<p class="text_black">Massage Services</p>

<img src="images/KathyPhoto_t.jpg" alt="Massage">
<div class="service">
  	<p>Massage</p>
  	<p class="product_description" width="400">Deep tissue, trigger point, swedish, sports massage and pregnancy massage.</td>
  	<div> class="product_price" width="200">
	  <p>1 hour $80</p>
	  <p>1.5 hour $110</p>
	</div>
</div>

{% endblock %}
