{% extends "static_section.html" %}

{% load markup %}
{% block content %}
<div class="speaking">  

<p>Kathy Gruver, author of The Alternative Medicine Cabinet, has earned her Doctorate as a Traditional Naturopath, her Masters in Natural Health and is pursuing her PhD. She graduated Cum Laude with a BFA in Theatre from Point Park University in Pittsburgh and was a working actor in Los Angeles for many years. She serves on the faculty of SBBCollege where she teaches massage, nutrition and pathology. She has a Body/Mind/Spirit Workbook available and produced, directed and hosted an instructional massage DVD, Therapeutic Massage at Home; Learn to Rub People the RIGHT Way!</p>

<p>Kathy is a dynamic and entertaining speaker and seeks to not only educate, but inspire. She has lectured for universities, organizations and the general public. An expert in natural health and wellness, Kathy has two decades and over 10,000 hours of hands on experience and a flair for communicating in a fun and conversational way. As a former actor she incorporates that creativity and humor into each of her presentations.</p>

<p>Gruver has been featured as an expert is publications such as Massage Magazine, SouthWest Blend, Discover, First for Women, SB Fitness, The Holistic Option, Bottled Water Web, DermaScope Magazine, and Pacific Coast Business Times. She has written dozens of health and wellness articles as well as business topics. She has appeared as a guest on over 25 radio shows covering topics such as back pain, mind/body medicine, healthy pregnancy, homeopathics, headaches, depression, nutrition, herbs, patient advocacy and massage for wellness.</p>

<p>Kathy serves on the advisory committee for The Holistic Option, a website resource for all your natural health and wellness needs. She was their featured expert on a podcast on the Emotional Components of Back Pain. And her business Healing Circle Massage was featured as a Best Practice by Massage Magazine two years in a row. Kathy is also available for corporate health lectures through her company Healthier Office.</p>

<div class="grid_4">
  <img src="/site_media/images/nawbo6_sm.jpg" alt=" " />
  <img src="/site_media/images/nawbo5_sm.jpg" alt=" " />  
</div>
<div class="grid_5">
  <img src="/site_media/images/nawbo3_md.jpg" alt=" " />
</div>

<div class="clear">&nbsp;</div>

<h1>Testimonials</h1>
<ul>
  {% for testimonial in testimonials %}

  <li class="faq"><p>{{testimonial.description|markdown}}</p> <p>~ {{testimonial.source}}</p></li>

  {% endfor %}
</ul>

</div>


{% endblock %}
