{% extends "static_section.html" %}

{% block content %}

<div id="title">
  <h1>Kathy's Writings</h1>
</div>

{% for writing in object_list %}

<div id="event" class="grid_6">

{% if writing.link %}

<a href="/media/images/{{writing.link}}"> <img src="/media/{{writing.thumbnail_image}}" alt="{{writing.name}}" /></a>
<a href="{{writing.link}}"><p class="faq">{{writing.name}}</p></a>

{% endif %}

{% if writing.image_1 %}
 <a href="/media/images/{{writing.image_1}}"> <img src="/media/{{writing.thumbnail_image}}" alt="{{writing.name}}" /></a>
 <a href="/media/images/{{writing.image_1}}"><p class="faq">{{writing.name}}</p></a>
{% endif %}

<div class="faq">

{% if writing.image_2 %}
(Pages 
<a href="/media/images/{{writing.image_1}}">1</a>
<a href="/media/images/{{writing.image_2}}"> | 2</a>

{% if writing.image_3 %}
<a href="/media/images/{{writing.image_3}}"> | 3</a>
{% endif %}

{% if writing.image_4 %}
<a href="/media/images/{{writing.image_1}}"> | 4</a>
{% endif %}
)
{% endif %}
</div>

</div>

{% endfor %}

{% endblock %}
